.SquadRow {
  display: flex;
  // background: linear-gradient(180deg, rgba(27, 78, 125, 0) 0%, #1B4E7D 55.73%);
  box-shadow: inset 4px 4px 15px rgba(218, 53, 53, 0.1), inset -4px -4px 15px rgba(255, 255, 255, 0.1);
}

.toonImg {
  height: 55px;
  width: 55px;
  border-radius: 50px;
  border: 2px solid #9B47E4;
}

h5 {
  font-size: 1rem;
}

.col-3 {
  padding-left: 0;
  padding-right: 50px;
}

@media (min-width: 640px){
  h5 {
    font-size: 1.25rem;
  }

  .col-3 {
    padding-left: initial;
  }

  .toonImg {
    height: 65px;
    width: 65px;
    border-radius: 50px;
    border: 2px solid #9B47E4;
  }
}
