.SquadListModal {
  display: block;
}

.characterPool {
  display: flex;
  flex-flow: row wrap;
  overflow: scroll;
  background-color: lightyellow;
  padding-bottom: 10px;
}

.modal {
  font-size: .9rem;

  input {
    font-size: .9rem;
  }

  select {
    font-size: .8rem;
  }
}

.noCharacterSelected {
  width: 65px;
  height: 65px;
  background-color: #bbb;
  border-radius: 50%;
}

.squadForm {
  max-height: 277px;
}

.squadFormButtons {
  display: flex;
  flex-direction: row;
}

.squadFormLeft {
  overflow: hidden;
}

.squadFormLeftTop {
  display: flex;
  flex-direction: column;
}

.squadFormLeftBottom {
  display: flex;
  flex-direction: column;
}

.squadFormRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.squadFormRightBottom {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.squadFormRightTop {
  display: flex;
  flex-direction: row;
  margin: 15px 0 0 0;
}

.squadFormToon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toonPoolImg {
  width: 55px;
  border-radius: 50px;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 650px;
  }
}