.App {
  text-align: center;
  background-color: black;
  // background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 75%, #1B4E7D 100%); 
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.1), inset 0px 0px -10px rgba(255, 255, 255, 0.1);
  color: whitesmoke;
}

h1 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

@media only screen and (min-width: 768px){
  h1 {
    font-size: 1.50rem;
  }

  h5 {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width:992px) {
  h1 {
    font-size: 1.75rem;
  }

  h5 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width:1200px) {
  h1 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.75rem;
  }
}