.SquadMember {
  display: block;
}

.noCharacterinSquad {
  width: 40px;
  height: 40px;
  background-color: rgba(187, 187, 187, 0.15);
  border: 2px solid rgba(187, 187, 187, 0.15);
  border-radius: 50%;
}

.modal-header .close {
  color: white;
}

@media only screen and (min-width: 768px){
  .noCharacterinSquad {
    height: 45px;
    width: 45px;
  }
}

@media only screen and (min-width:992px) {
  .noCharacterinSquad {
    height: 55px;
    width: 55px;
  }
}

@media only screen and (min-width:1200px) {
  .noCharacterinSquad {
    height: 65px;
    width: 65px;
  }
}