.SquadMember {
  display: block;
}

.noCharacterinSquad {
  width: 65px;
  height: 65px;
  background-color: rgba(187, 187, 187, 0.15);
  border: 2px solid rgba(187, 187, 187, 0.15);
  border-radius: 50%;
}

.modal-header .close {
  color: white;
}